[submodule "traefik-pebble"]
	path = salt/states/traefik/files
	url = git@github.com:kiniou/traefik-pebble.git
	branch = master
[submodule "formulas/nginx-formula"]
	path = formulas/nginx-formula
	url = git@github.com:kiniou/nginx-formula.git
	branch = master
[submodule "formulas/firewalld-formula"]
	path = formulas/firewalld-formula
	url = git@github.com:kiniou/firewalld-formula.git
	branch = master
[submodule "formulas/docker-formula"]
	path = formulas/docker-formula
	url = git@github.com:kiniou/docker-formula.git
	branch = master
[submodule "formulas/salt-formula"]
	path = formulas/salt-formula
	url = git@github.com:kiniou/salt-formula.git
	branch = master
[submodule "formulas/packages-formula"]
	path = formulas/packages-formula
	url = git@github.com:kiniou/packages-formula.git
