{%- set tplroot = tpldir.split('/')[0] %}
{% import_yaml tplroot ~ "/defaults.yaml" as default_settings %}

{% set unbound = salt['pillar.get'](
  'unbound',
  default=default_settings.unbound,
  merge=True)
%}

