COMPOSE_FILE=docker-compose.yml:docker-compose.consul.yml
NETWORK_NAME=traefik
TRAEFIK_PORT_HTTP=80
TRAEFIK_PORT_HTTPS=443
TRAEFIK_PORT_SSH=8022
TRAEFIK_PORT_DASHBOARD=8080
PEBBLE_PORT=14000
PEBBLE_MGMT_PORT=15000

# Make consul advertise traefik network gateway
# You can find this one by issuing the following command:
#   docker network inspect traefik | jq '.[0] | .IPAM.Config[0].Gateway'
# TODO: this need to be automated ...
CONSUL_ADVERTISE_IP=<traefik-ip-gateway>
# Consul gossip encryption
# It can be generated with the following:
#   docker run --rm consul consul keygen
CONSUL_ENCRYPT=this-secret-must-be-changed-to-be-safe
