[Unit]
Description="Traefik service"
ConditionDirectoryNotEmpty=/etc/traefik/certs
BindsTo=docker.service
After=docker.service
Requires=docker.service
StartLimitIntervalSec=2s

[Service]
WorkingDirectory=/etc/traefik
ExecStartPre=/usr/local/bin/docker-compose down
ExecStartPre=-/bin/sh -c scripts/create-traefik-network.sh
ExecStartPre=/usr/local/bin/docker-compose pull
ExecStart=/usr/local/bin/docker-compose up --build --remove-orphans
ExecStop=/usr/local/bin/docker-compose down
Restart=always

[Install]
WantedBy=default.target
